.app-layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  justify-content: center;
}

.sidebar {
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}

/* main {
  flex: 1;
  background-color: #f5f7fa;
  padding: 10px;
} */

main{
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  padding: 24px;
}