/* .app-layout {
  display: flex;
  flex-direction: row;
   min-height: 100vh;
   background-color: #f5f7fa;
} */

.container {
  display: flex;
  flex-direction: column;
  flex:1 ;
}

.form-filter-container {
  display : flex ;
  flex-direction: row;
  justify-content: space-around;
}

