.side-bar {
  display:flex;
  flex-direction: column;
  gap:10px;
  height : 100vh;
  background-color:rgba(5, 5, 43, 0.993);
  padding: 10px ;
  color : white;
  height:100vh;
}

.sidebar-item {
  display:flex;
  flex-direction:row;
  column-gap: 10px;
  align-items: center;
  cursor: pointer;
  font-size : 14px ;
  padding: 10px 60px 10px 10px;
  transition: background-color 0.3s ease;
}

.sidebar-link {
  text-decoration:none;
  color:white;
}

.sidebar-item:hover {
  background-color: blue;
  padding:10px;
  border-radius:8px;
  padding: 10px 60px 10px 10px;

}
